@model OutLesson.DataLayer.ObjectModels.ApplicationUser
@{
    ViewBag.Title = "Success";
}

<div class="container body-content">

    <div class="jumbotron" id="Form">

        <h2>Успех!</h2>
        <hr />

        <p>Уважаемый, @Model.FullName, Ваша статья успешно отправлена на модерацию. </p>
        <p>Наши редакторы обязательно свяжутся с вами, в случае возникновения вопросов по содержанию</p>
        <a class="btn btn-success" href="/home/index">Вернуться на главную</a>

    </div>


</div>

